/* === app基础样式  (start) === */

html,
body {
    min-height: 100%;
    margin: 0;
    font:
        normal 14px/1.5 "PingFang SC",
        "Heiti SC",
        "Arial",
        "Lucida Grande",
        Verdana,
        STXhei,
        "Microsoft YaHei",
        "hei";
}

* {
    /** iOS h5页面上下滑动卡顿问题  **/
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    //	-webkit-user-select: none;
    //	-moz-user-select: none;
    //	-ms-user-select: none;
    //	user-select: none;
    background-color: #f2f2f2;
    overflow-x: hidden;
    color: #333;
    overflow-y: auto;
    /* 顶部安全距离：兼容旧版本（constant）和新版本（env） */
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    /* 底部安全距离：同理 */
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);

    #app {
        position: relative;
        margin: 0 auto;
        background-color: #f2f2f2;

        .page-container {
            // 由于页面路由转场使用过渡动画，所以需要设置最小高度为100vh，不然页面中绝对定位元素会出现位置错误的问题
            min-height: 100vh;
            position: relative;
            overflow-x: hidden;

            &.has-navbar {
                padding-top: calc(44px + constant(safe-area-inset-top));
                padding-top: calc(44px + env(safe-area-inset-top));
            }

            &.has-footbar {
                padding-bottom: calc(50px + constant(safe-area-inset-bottom));
                padding-bottom: calc(50px + env(safe-area-inset-bottom));
            }
        }
    }
}

::scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}
