.el-dialog {
    &.cms-common-dialog,
    &.cms-form-dialog {
        padding: 0px;
        .el-dialog__header {
            border-bottom: 1px solid #eeeeee;
            padding: 16px 24px;
            margin-right: 0px;

            .el-dialog__title {
                font-size: 16px;
                font-weight: 500;
                color: #262626;
                line-height: 24px;
                display: inline-block;
            }

            .el-dialog__headerbtn {
                top: 1px;
                right: 5px;
            }
        }

        .el-dialog__body {
            padding: 12px 20px 0px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .el-dialog__footer {
            border-top: 1px solid #eeeeee;
            padding: 12px 24px;
            box-shadow:
                0px -1px 0px 0px #f5f5f5,
                0px 1px 30px 0px rgba(0, 21, 41, 0.12);

            .el-button {
                min-width: 80px;
            }
        }
    }
}
